/* Recherche avancée (query builder) */

#queryBuilderForm textarea {
	width: calc(100% - 2em);
}

#queryBuilder .column select,
#queryBuilderForm .actions select {
	max-width: 15em;
}

#queryBuilder td {
	vertical-align: top;
	padding: 0.1em 0.2em;
}

#queryBuilder td.buttons {
	white-space: nowrap;
}

#queryBuilder input[type="button"],
#queryBuilder .values input {
	margin: 0.1em;
}

#queryBuilderForm .actions label {
	margin: 0 0.5em;
}

#queryBuilder tbody .values label {
	margin: 0 0.3em;
}

#queryBuilderForm input[type="number"] {
	width: 4em;
}

@media screen and (max-width: 1279px) {
	#queryBuilder tbody tr {
		display: flex;
		flex-wrap: wrap;
		padding: 0.5em 0;
		margin-left: 6rem;
		border-top: 0.2rem solid var(--color-border);
		clear: both;
	}

	#queryBuilder tbody td {
		display: block;
	}

	#queryBuilder tbody td.buttons {
		margin-left: -6rem;
	}
}
